<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center";>
          <h1 style= "font-weight:bold;">Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <div class="row">
            <div id="news" class="col-md-12">
                <h3 style= "font-weight:bold;">Latest Mars News</h3>
                <h4 style= "font-weight:bold;">{{index_data.news_title}}</h4>
                <h5>{{index_data.news_p}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3 style= "font-weight:bold;">Featured Mars Image</h3>
                <img class="img-responsive" src="{{index_data.featured_image_url}}" alt="featured_image">
            </div>
            <div class="col-md-4">
              <br>
              <div class="row">
                <h4 style= "font-weight:bold;">Mars Facts</h4>
                {{index_data.mars_facts | safe}}
              </div>
            </div>
        </div>
        <div class="row">
          <div class="page-header">
            <h2 class="text-center" style="font-weight: bold;"> Mars Hemispheres</h2>
          </div>
        </div>     
        <div class="row">
            {% for image_url in index_data.hemisphere_image_urls %}
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="thumbnail">
                  <img src={{image_url.img_url}} alt={{image_url.img_url}}>
                  <div class="caption">
                    <h3 style= "font-weight: bold;">{{image_url.title}}</h3>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>     
</body>
</html>